{{!-- The following component displays Ember's default welcome message. --}}
<h1>header</h1>
{{#link-to 'home'}}Home{{/link-to}}  {{#link-to 'about'}}About{{/link-to}}
<h2>John was here</h2>{{!-- Feel free to remove this! --}}


{{outlet}}

<h1>footer</h1>
