{{!-- The following component displays Ember's default welcome message. --}}
<div class='header'>
  <img class='header' id="header-image" src="/veterans-journal/assets/images/header.jpg" alt="Header Image">
</div>
{{#bs-nav type=type justified=justified stacked=stacked as |nav|}}
  {{#nav.item}}{{#nav.link-to "home"}}Home{{/nav.link-to}}{{/nav.item}}
  {{#nav.item}}{{#nav.link-to "search"}}Search{{/nav.link-to}}{{/nav.item}}
  {{#nav.item}}{{#nav.link-to "about"}}About{{/nav.link-to}}{{/nav.item}}
{{/bs-nav}}


{{outlet}}

<h1>footer</h1>
