Home Page

<br />

<button type="button" class="btn btn-secondary">Button 2</button>
<br />


<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/assets/images/read.jpg" alt="Read history">
  <div class="card-body">
    <button type="button" class="btn btn-primary">Browse Stories</button>
    <p class="card-text">Read journal entries</p>
  </div>
</div>

<br />
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/assets/images/journal.jpg" alt="Share history">
  <div class="card-body">
    <button type="button" class="btn btn-primary">Share A Story</button>
    <p class="card-text">By submitting a story you help ensure it will be shared with the world and never lost.</p>
  </div>
</div>
